.container1 {
  padding-top: 30px;
}

.card {
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07);
  max-width: 500px;
  margin: 0 auto;
}

.profile {
  padding: 50px 30px;
}

.profile-pic {
  text-align: center;
  margin-bottom: 20px;
  
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.email, .sector {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.sector{
  font-size: 2rem;
  text-align: center;
}

.agree-to-terms-container {
  display: block;
  text-align: center;
  align-items: center;
  
}

.terms-label {
  font-weight: bold;
  margin:0
 
}

.agree-to-terms-value {
  color: #008080;
  font-weight: bold;
}

.edit-button {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
